# This is required in order to reference private repos
export DOCKER_BUILDKIT=1
export GOPRIVATE=github.com/aserto-dev
export VAULT_ADDR=https://vault.eng.aserto.com/

[ -f ".dev/env-dev" ] && source .dev/env-dev